@font-face {
    font-family: amsterdam;
    src: url(../fonts/amsterdam_3/Amsterdam.ttf);
}

@font-face {
    font-family: ablation;
    src: url(../fonts/Ablation-Font/Ablation_PersonalUse.otf);
}

@font-face {
    font-family: ritus;
    src: url(../fonts/ritus/Ritus-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*border: 1px solid red;*/
}

.dark {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 30px;
    width: auto;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    height: 20vh;
    padding: 20px;
    overflow: hidden;
}

.menu {
    position: fixed;
    top: 25px;
    left: 25px;
    display: none;
    height: 30px;
    width: 30x;
}

.title {
    height: auto;
    font-size: 10vw;
    font-family: amsterdam, cursive;
    color: #1d1d1d;
    align-self: center;
}

.nav-bar {
    height: 45px;
    width: 100vw;
    padding: 5px;
    display: flex;
    justify-content: center;

}

.close {
    display: none;
    position: fixed;
    height: 40px;
    width: 40px;
    font-size: 18px;
    position: absolute;
    color: #5f5f5f;
    right: 5px;
    text-align: center;
    cursor: pointer;
}

.link-container {
    height: 90%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    color: #1d1d1d;
    border-top: #5f5f5f 2px solid;
    border-bottom: #5f5f5f 2px solid;
    position: relative;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: 2vw;
    align-self: center;
    font-family: ablation;

}

.link:hover {
    color: #888888;
    cursor: pointer;
}

.presentation {
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 70%;
}

.img-presentation {
    box-shadow: #1d1d1d 2px 2px 10px;
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100vw;

}

.copyright-container {
    width: 75%;
    display: flex;
    justify-content: center;
    height: 25px;
    padding: 5px;
}

.copyright {
    font-size: 1vw;
    color: #5f5f5f;
}


/*bio style*/

.bio-pic {
    height: 70%;
    width: 30%;
    padding: 10px;
    box-shadow: #1d1d1d 2px 2px 10px;
    display: flex;
    justify-content: center;

}

.marian-pic {
    width: auto;
    height: auto;
}

.biography {
    height: 90%;
    width: 30%;
    /*padding: 5px;*/
    margin: 0 12px 10px 25px;
    font-family: ritus;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: #272727;
    text-align: justify;
    overflow: hidden;
}

.contact-container {
    margin-left: 25px;
    height: auto;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1.5px;
    color: #4b4b4b;

}

.address {
    overflow: hidden;
}

.icon-container {
    margin-top: 15px;
    overflow: hidden;
}

.icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
    overflow: hidden;
    transition: width .5s ease;
}

.icon:hover {
    width: 30px;
    height: auto;
}



/*media query para tablet*/
@media only screen and (max-width: 768px) {
    .title {
        font-size: 96px;
    }

    .link {
        font-size: 20px;
    }

    .img-presentation {
        width: 80vw;
    }

    .presentation {
        flex-direction: column;
        align-items: center;
    }

    .bio-pic {
        width: 50vw;
        height: auto;
    }
    .marian-pic {
        width: 90%;
        height: auto;
    }

    .biography {
        width: 60vw;
        margin-top: 15px;
    }
}

.copyright {
    font-size: 16px;
}

.contact-container {
    margin-top: 25px;

}


/*media query para celular*/
@media only screen and (max-width: 600px) {
    .menu {
        display: block;
        cursor: pointer;

    }

    .nav-bar {
        /* display: none; */
        padding: 10px;
        flex-direction: column;
        justify-items: flex-start;
        position: fixed;
        top: 55px;
        left: -300px;
        background-color: rgba(255, 255, 255, 0.9);
        height: auto;
        width: 200px;
        line-height: 28px;
        border-radius: 5px;
        transition: all .5s;
        z-index: 10;


    }

    .link-container {
        flex-direction: column;
        height: auto;
        border: 0;
    }

    .link {
        align-self: flex-start;
        font-weight: 600;
        padding: 10px;

    }

    .show {
        left: 55px;
    }

    .title {
        margin-top: 90px;
    }

    .presentation {
        flex-direction: column;
    }
    .bio-pic {
        width: 50vw;
        height: auto;
    }
    .marian-pic {
        width: 90%;
        height: auto;
    }
}



/* dark mode */
.dark-mode {
    background-color: #272727;

    .title,
    .link-container {
        color: #a8669f;
    }

    .link:hover {
        color: #c979be;
        ;
    }

    .biography,
    .contact-container,
    .copyright {
        color: #a8669f;
    }

    .icon, .dark, .menu {
        /* fill: #a8669f; */
        stroke: #a8669f;
    }

}

.dark:hover {
    cursor: pointer;
    /*fill: #b970b0;*/
    stroke: #b970b0;
}